*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 1000px;
    border: 25px solid #ff8e6a;
    display: block;
    margin: 3rem auto;
    padding: 1rem 2rem;
}

/* header section */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin: 0 0 1rem 0;
}

.header-text{
    font-size: 1rem;
    font-weight: 700;
}

.header-text-1{
    margin: 0 0 4px 0;
}

.header-text-2{
    color: #9b9292;
    width: 700px;
}

/* student information section */
.student-info{
    font-weight: 200;
    font-size: 22px;
    padding:  15px 0 10px 0;
}

#fname , #mname , #lname {
    width: 280px;
    padding: 4px 8px;
}

::placeholder{
    font-size: 15px;
    font-weight: 400;
}

.sec-1{
    display: flex;
    gap: 1rem;
    margin: 0 0 24px 0;
}

#dob{
    width: 420px;
    padding: 4px 8px;
}


#student-id {
    width: 420px;
    padding: 4px 8px;
}

.sec-2{
    display: flex;
    gap: 2rem;
    margin: 0 0 14px 0;
}

/* Address */
#student-add{
    
}
